
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header h2 {
  color: cyan;
  font-weight: bold;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}
nav a:hover {
  color: cyan;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
.hero-text {
  max-width: 500px;
}
.hero-text h1 {
  font-size: 2.5em;
}
.typing {
  font-size: 1.5em;
  font-weight: bold;
  color: cyan;
  white-space: nowrap;
  border-right: 2px solid cyan;
  overflow: hidden;
  width: 0;
  animation: typing 7s steps(110) infinite alternate, blink 0.11s infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 18ch }
}
@keyframes blink {
  50% { border-color: transparent }
}
.profile-img {
  border-radius: 50%;
  border: 5px solid gray;
}


.btn {
  background: cyan;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s;
}
.btn:hover {
  background: rgb(4, 97, 125);
  color: rgb(1, 45, 70);
  padding: 20px;
}


section {
  padding: 50px;
  text-align: center;
}
.about p, .project p, .contact p {
  max-width: 600px;
  margin: 20px auto;
  animation: fadeIn 6s infinite alternate;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


footer {
  background: cyan;
  color: black;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}


.socials a {
  margin: 0 10px;
  transition: transform 0.3s;
}
.socials a:hover {
  transform: scale(1.2);
}

.contact {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #222;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background: #333;
  box-shadow: 0 0 10px cyan;
}

.contact-form button {
  padding: 12px;
  background: cyan;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #00e6e6;
  transform: translateY(-3px);
}
